{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-sm signup">
    <div class="row" style="width: 100%; display: flex; justify-content: space-between;">
        <div class="col-sm-7">
            <div class="p-1 mb-4 rounded-3">
                <figure class="figure">
                    <img src="{% static 'img/editarcadastro.jpg' %}" class="figure-img img-fluid float-end mx-auto" id="imagemEditarDespesa" alt="...">
                </figure>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="p-1 mb-4 rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Editar Cadastro</h1>
                </div>
            </div>
            <form action="/sign-up" method="post">
                {% csrf_token %}
                <div class="form-outline mb-4">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}" class="col-sm-12 col-form-label">Nome:</label>
                    <div class="col-sm-12">
                        {{ form.name }}
                    </div>
                </div>

                <div class="mb-3 row">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}" class="col-sm-12 col-form-label">E-mail:</label>
                    <div class="col-sm-12">
                        {{ form.email }}
                    </div>
                </div>

                <div class="mb-3 row">
                    <!-- INSERIR TELEFONE NO FORMS -->
                    {{ form.password.errors }}
                    <label for="{{ form.password.id_for_label }}" class="col-sm-12 col-form-label">Telefone:</label>
                    <div class="col-sm-12">
                        {{ form.password }}
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button style="border-radius: 50px;" type="submit" class="btn btn-dark btn-lg">Confirmar</button>
                    </div>
                </div>
            </form>
            <div class="p-1 rounded-3 mt-5">
                <div class="container-fluid">
                    <h1 class="display-5 fw-bold">Ações</h1>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a style="border-radius: 50px;" class="btn btn-warning btn-lg" href="{% url 'password_change' %}?next=password_change">Resetar Senha</a>
                <button style="border-radius: 50px;" type="submit" class="btn btn-danger btn-lg">Deletar Cadastro</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}