{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <section>
            <div class="logo">
                <h1 class="logo bnn">GM<span>$F</h1>
            </div>
            <div class="alert alert-dismissible d-flex" role="alert">
                <div class="alert alert-info">
                    Senha definida com sucesso,&nbsp<b><a href="{% url 'sign-in' %}"> Faça login aqui.</a></b>
                </div>
            </div>
            </div>
        </section>
    </main>
{% endblock content %}

