{% extends "base.html" %}
{% block title %} Password Reset {% endblock title %}
{% block content %}
    <main>
        <section>
            <div class="logo">
                <h1 class="logo bnn">GM<span>$F</h1>
                <div class="form-content">
                    <div class="container">
                        {% if validlink %}
                            <div class="signin">
                            <div class="card shadow-lg">
                            <div class="card-header justify-content-center border-0 rounded-lg mt-0 mb-3">
                                <h1 class="mb-3">Redefinir senha</h1>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="card-body form-outline mb-4">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-outline mb-4">
                                        <div class="form-group">
                                            <label class="small mb-1 for=" id_new_password1">Nova senha</label>
                                            <input type="password" name="new_password1"
                                                   autocomplete="new-password"
                                                   class="form-control" required id="id_new_password1"
                                                   placeholder="Enter password"/>
                                            <span>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_new_password2">Confirme a nova
                                                senha</label>
                                            <input type="password" name="new_password2"
                                                   autocomplete="new-password"
                                                   required id="id_new_password2" class="form-control"
                                                   placeholder="Confirm password"/>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <button type="submit" style="font-weight: 500;"
                                                class="btn btn-info btn-block mb-2 text-uppercase button bt-white cad"
                                                id="reset">Confirmar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="alert alert-dismissible d-flex" role="alert">
                                <div class="alert alert-warning">
                                    O link para redefinição de senha inválido, o mesmo já pode ter sido usado.
                                    Por favor solicite uma nova recuperação de senha.
                                    <br/><b><a href="{% url 'password_reset' %}">Recupere a senha aqui.</a></b>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
{% endblock content %}