{% extends 'base.html' %}
{% load static %}
{% block title %} Alterar a Senha {% endblock %}
{% block content %}
<div class="container-sm">
    <div class="row" style="width: 100%; display: flex; justify-content: space-between;">
        <div class="col-sm-7">
            <div class="p-1 mb-4 rounded-3">
                <figure class="figure">
                    <img src="{% static 'img/alterarsenha.jpg' %}" class="figure-img img-fluid float-end mx-auto" id="imagemEditarDespesa" alt="...">
                </figure>
            </div>
        </div>
        <div class="col-sm-5">
            <form id="id_password_change_from" method="POST" class="form-signin">{% csrf_token %}
                <div class="p-1 mb-4 rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Alterar a Senha</h1>
                    </div>
                </div>                
                <input name="old_password" class="form-control mb-4" placeholder="Senha atual" type="password" id="id_old_password" required="true">
                <input name="new_password1" class="form-control mb-4" placeholder="Nova senha" type="password" id="id_new_password1" required="true">
                <input name="new_password2" class="form-control mb-4" placeholder="Confirmar senha" type="password" id="id_new_password2" required="true">

                {% for field in form %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% endfor %}

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button style="border-radius: 50px;" type="submit" class="btn btn-dark btn-lg">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}