{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <section>
            <div class="logo">
                <h1 class="logo bnn">GM<span>$F</h1>
            </div>
            <div class="container">
                <div class="signin">
                    <h1 class="mb-3 text-center">Recuperar senha</h1>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-outline mb-4">
                                    <input type="email" name="email" class="form-control"
                                           autocomplete="email" maxlength="254" required id="id_email"
                                           placeholder="Informe email cadastrado">
                                </div>
                                <div class="form-row">
                                    <button type="submit" style="font-weight: 500;"
                                            class="btn btn-info btn-block mb-2 text-uppercase button bt-white cad">
                                        Enviar
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
