{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="form-signin w-100 m-auto">
    <form action="." method="post">
        {% csrf_token %}
        <div class="mb-3 row">
            <div class="fieldWrapper">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}" class="col-sm-2 col-form-label">Senha:</label>
                <div class="col-sm-10">
                    {{ form.password }}
                </div>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
</main>
{% endblock %}