{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <section>
    <div class="logo">
      <h1 class="logo bnn">GM<span>$F</h1>
    </div>
    <div class="container">
      <div class="signin">
        <h1 class="mb-3">Login</h1>
        <form action="/sign-in" method="post">
          {% csrf_token %}
          <div class="form-outline mb-4">
            <!-- Email -->
            {{ form.username.errors }}
            <label style="display: block;" class="mb-3" for="{{ form.username.id_for_label }}">
              <input type="email" class="form-control" placeholder="E-mail" />
            </label>

            <!-- Password -->
              {{ form.password.errors }}
            <div class="form-outline mb-4">
              <label style="display: block;" for="{{ form.password.id_for_label }}">
                <input type="password" class="form-control" placeholder="Senha" />
              </label>
            </div>

            <div class="button">
              <button type="submit" style="font-weight: 600;" class="btn btn-info btn-block mb-2 text-uppercase button bt-white cad">Entrar</button>
              <div style="display: flex;">
                <a href="#!" class="text-muted" style="margin: 0 auto;">Recuperar senha</a>
              </div>
            </div>

            <!-- Register -->
            <div class="text-center mt-3">
              <p>Ainda não possui conta? <a href="#!" class="text-info"style="font-weight: 500;">Registre-se</a></p>
              </button>
          </div>
        </form>
    </section>
  <p class="mt-5 mb-3 text-body-secondary" style="position: absolute; bottom: 0;">&copy; {% now "Y" %}</p>
  </main>
{% endblock %}