<div id="no-more-tables">
  <table id="expenses_table" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Tipo</th>
          <th scope="col">Vencimento</th>
          <th scope="col">Valor</th>
          <th scope="col">Status</th>
          <th scope="col">Pago em:</th>
          <th scope="col" colspan="2">Opções</th>        
        </tr>
      </thead>
      <tbody>
      {% for expense in page_obj %}
        <tr>
          <th><a href="{% url 'edit_expense' pk=expense.id %}" class="link-primary text-decoration-none">{{ expense.id }}</a></th>
          <td data-title="Título">{{ expense.title }}</td>
          <td data-title="Tipo">{{ expense.type }}</td>
          <td data-title="Vencimento">{{ expense.expires_at|date:"d/m/Y" }}</td>
          <td data-title="Valor">R$ {{ expense.amount }}</td>
          {% if not expense.is_paid %}
            <td data-title="Status:">Pendente</td>
            <td data-title="Pago em:">Pendente</td>
          {% else %}
            <td data-title="Status:">Pago</td>
            <td data-title="Pago em:">{{ expense.is_paid|date:"d/m/Y" }}</td>
          {% endif %}
          <td data-title="Opções">
            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
              <a href="{% url 'edit_expense' pk=expense.id %}" class="btn btn-warning">Editar</a>          
              <a href="{% url 'delete_expense' pk=expense.id %}" class="btn btn-danger">Remover</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% if page_obj.has_other_pages %}
<div class="btn-group" role="group" aria-label="Item pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
    {% endif %}

    {% for page_number in page_obj.paginator.page_range %}
        {% if page_obj.number == page_number %}
            <button class="btn btn-outline-primary active">
                <span>{{ page_number }}</span>
            </button>
        {% else %}
            <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                {{ page_number }}
            </a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
    {% endif %}
</div>
{% endif %}