{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-sm dashboard">
    <div class="row">
        <div class="col-md-4" style="margin:auto">
            <br>
            <h4>Despesas:</h4>
            <h6>(Período: 12 meses)</h5>
            <canvas id="sum_expenses" width="200" height="200"></canvas>
        </div>
        <div class="col-md-4" style="margin:auto">
            <br>
            <h4>Tipos Despesas:</h4>
            <h6>(Período: 12 meses)</h5>
            <canvas id="total_type_expenses" width="200" height="200"></canvas>
        </div>
    </div>
</div>
<div class="container-sm dashboard">
    <div class="row py-5 justify-content-between">
        <div class="col-md-8 d-flex mb-2">
            <div class="sm-6 d-flex justify-content-between">
                <h1>Despesas</h1>
            </div>
            <div style="margin-left: 10px; display: flex; align-items: center;" class="sm-6">
                <a href="{% url 'create_or_edit_expense' %}" style="padding: 8px 12px;" class="link-primary btn btn-primary text-light">Adicionar Despesa</a>
            </div>
        </div>
        <div class="col-lg-4 justify-content-lg-end" style="display: flex; align-content: center;">
            <form action="{% url 'dashboard' %}" method="get"  style="display: flex; align-items: center;">
                <div class="input-group" style="flex-wrap: nowrap;">
                    <input type="text" name="search" value="{{ request.GET.search }}" class="form-control" style="width: 200px;" placeholder="Título, Tipo ou Status" aria-label="Buscar" aria-describedby="button-addon2">
                    <input type="date" name="start_date" class="form-control" style="width: 140px;" placeholder="Data inicial" aria-label="Data inicial">
                    <input type="date" name="end_date" class="form-control" style="width: 140px;" placeholder="Data final" aria-label="Data final">
                    <button class="btn btn btn-primary" type="submit"><i class="fas fa-search"></i>Buscar <i class="fas fa-search"></i></button>
                    <a href="." class="btn btn-secondary">Limpar</a>
                </div>
            </form>
        </div>
    </div>
    
    {% include 'includes/messages.html' %}

    <div class="row py-1">
        <div class="col-sm-12">
        </div>
    </div>
    {% if page_obj %}
        {% include 'includes/expenses_table.html' %}
    {% else %}
        <div class="row py-5">
            <div class="col-sm-5">
                <h3>Seja bem vindo, cadastre sua primeira despesa.</h3>
            </div>
            <div class="col-sm-7">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <figure class="figure">
                    <img src="{% static 'img/dashboard.jpg' %}" class="figure-img img-fluid float-end mx-auto" alt="Despesas">
                    </figure>
                </div>            
            </div>
        </div>
    {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script>
    window.onload = function(e){
    render_sum_expenses('{% url "report_expense" %}')
    render_total_type_expenses('{% url "report_type_expense" %}')
}
</script>
{% endblock %}
